<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<h1>New Rental</h1>
	
	<label for="rent">Rent: </label>
	<form id="rent" action="/api/vhs/rent/new" method="POST">
		<input type="hidden" name="vhsid" th:value="${vhsid}">
		Return date: <input type="date" name="returnDate">
		<input type="submit" value="Submit">
	</form>
	<p th:text="${error}"></p>
	
	<form action="/api/vhs" method="POST">
		<input type="submit" value="Cancel">
	</form>
</body>

</html>